@media (min-width: 800px) {
    h1 {
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
        font-size: 42px;
        color: rgba(0, 0, 0, 0.84);
        text-align: left;
        line-height: 44px;
    }

    h2 {
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
        margin-bottom: 6px;
        font-size: 34px;
        color: rgba(0, 0, 0, 0.84);
        text-align: left;
        line-height: 39px;
    }

    p {
        font-size: 21px;
        color: rgba(0, 0, 0, 0.84);
        text-align: left;
        line-height: 39px;
        font-family: Georgia, Cambria, "Times New Roman", Times, serif;
        margin-top: 0;
        margin-bottom: 0;
    }

    article {
        width: 700px;
        padding-left: 362px;
        padding-right: 361px;
    }

    img {
        margin: 43px 0;
        width: 700px;
    }

    code {
        font-family: "Courier New", monospace;
        background-color: #eee;
    }
}
@media (max-width: 800px) {
    h1{
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
        font-size:26px;
        color:rgba(0,0,0,0.84);
        text-align:left;
        line-height:28px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    h2{
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
        font-size:22px;
        color:rgba(0,0,0,0.84);
        text-align:left;
        line-height:39px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 6px;
    }

    p{
        font-family: Georgia, Cambria, "Times New Roman", Times, serif;
        margin: 0 20px;
    }

    article{
        max-width: 520px;
    }

    img{
        margin: 25px 20px;
        width: 520px;
    }

    code{
        font-family: "Courier New", monospace;
        background-color: #eee;
    }
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}
